@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

.container {
	margin-top: 20px;
	@include displayFlexCenter(row);
	width: 100%;

	.input {
		@include sizeBlock(450px, 40px);
		padding-left: 10px;
		border-radius: 5px;
		border: none;
		background-color: $colorMainLight;
		box-sizing: border-box;
		margin-right: 10px;
	}
}
