@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

.wrapper {
	width: 800px;
	margin-top: 40px;
	padding: 30px;
	background-color: $colorMainLight;
	border-radius: 5px;
	box-sizing: border-box;

	.list {
		padding: 0;
		margin: 0;
		list-style: none;
	}
}

@media screen and (max-width: 920px) {
	.wrapper {
		margin-top: 20px;
		width: 90%;
	}
}
