@mixin sizeBlock($width, $height) {
	width: $width;
	height: $height;
}

// Display-flex
@mixin displayFlexCenter($flex) {
	display: flex;
	flex-direction: $flex;
	justify-content: center;
	align-items: center;
}

@mixin displayFlex($flex, $just, $align) {
	display: flex;
	flex-direction: $flex;
	justify-content: $just;
	align-items: $align;
}

// Font
@mixin font($size, $line) {
	font-size: $size;
	line-height: $line;
}

//button
@mixin button($colorBg, $colorText) {
	border: unset;
	border-radius: 5px;
	background-color: unset;
	color: $colorText;
	background-color: $colorBg;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
}

@mixin buttonHover($colorBg, $colorText) {
	background-color: $colorBg;
	color: $colorText;
	font-weight: 800;
}
